.enter_form {
  float: right;
  width: 100%;
  min-width: 100px;
  max-height: 100vh;
  text-align: center;
  line-height: 100vh;
  background-color: $bg-blue;
  font-size: 2em;

  .button{
    @include button;
    color: $bg-darkgrey;
    border-radius: 3px;

    &:hover{
      border: 2px solid $bg-lightgrey;
    }
  }

  .centered {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }

  input {
    width: 200px;
    height: 30px;
    box-sizing: border-box;
  }

  .logo_index{
    max-width: 500px;
    min-width: 150px;
    width: 60%;
  }

  .enter_form__error {
    display: none;
    @include errorMessage;
  }
}

@media #{$table-widths} {
  .enter_form {
    width: 50%;
  }
}

@media #{$desktop-widths} {
  .enter_form {
    width: 40%;
  }
}

