.fbSharing {
  background-image: url("http://www.hukkubandar.com/dapp/theme/images/Share-on-Facebook.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 70px;
  margin: 10px auto;
  cursor: pointer;
}