.gallery {
  @include container;
  overflow: hidden;
  .gallery_header {
    @include namePage;
  }
}

.gallery_projects {
  padding-left: 0;
  @include clearfix;
}

.project {
  width: 96%;
  margin: 2% 2% 40px 2%;
  height: 100%;
  float: left;
  list-style: none;
  box-sizing: border-box;
  border: 3px solid #d1d1d1;
  text-align: center;
  cursor: pointer;

  .img_project {
    width: 100%;
  }

  .project_description {
    display: none;
  }
}

.dark_background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  cursor: pointer;

  .img_big {

    margin: 0 auto;
    margin-top: 5vw;
    margin-bottom: 10vw;
    width: 70%;
    background-color: $bg-lightgrey;
    box-sizing: border-box;
    border: 3px solid #d1d1d1;
    opacity: 1;

    @media #{$table-widths} {
      width: 60%;
    }
    @media #{$desktop-widths} {
      width: 50%;
    }

    .fa-times {
      color: red;
      cursor: pointer;
      position: absolute;
      top: 1vw;
      right: 3vw;
      z-index: 1;

      &:hover {
        color: #9d0908;
      }
    }

    div {
      @include clearfix;
      cursor: default;
    }

    .img {
      position: relative;
    }

    .img_project {
      box-sizing: border-box;
      border-bottom: 3px solid #d1d1d1;
    }

    .project_description {
      text-align: center;
      color: #4b4b4b;
      h5 {
        font-size: larger;
      }
    }

    .change_img {
      height: 100%;
      width: 30%;
      position: absolute;
      cursor: pointer;

      @media #{$table-widths} {
        width: 20%;
      }
      @media #{$desktop-widths} {
        width: 10%;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.3);
        i {
          display: block;
          position: absolute;
          top: 50%;
        }
      }
      i {
        font-size: 32px;
        display: none;
      }
    }

    .next_img {
      right: 0;
      top: 0;
      i {
        right: 15%;
      }
    }

    .prev_img {
      left: 0;
      i {
        left: 15%;
      }
    }
  }
}

@media #{$table-widths} {
  .project {
    width: 46%;
  }

  .project:nth-child(2n+1) {
    clear: left;
  }
}

@media #{$desktop-widths} {
  .project {
    width: 29%;
  }
  .project:nth-child(2n+1) {
    clear: none;
  }
  .project:nth-child(3n+1) {
    clear: left;
  }

  .img_big {
    .img {
      float: left;
      width: 70%;
      box-sizing: border-box;
      border-right: 3px solid #d1d1d1;
      border-bottom: 0;
    }

    .project_description {
      float: right;
      width: 20%;
      margin: 3%;
      text-align: justify;

    }
  }
}

.pages {
  list-style: none;
  text-align: center;
  font-size: 22px;
  li {
    display: inline-block;
  }
  a {
    text-decoration: none;
    color: black;
  }

  .page_active {
    a {
      text-decoration: underline;
      color: #197598;
      font-weight: bold;

    }
  }

}




