@import "mixin.scss";
@import "variables.scss";

.main_nav__items, .profile_menu, .subnav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main_nav_item-link {
  text-decoration: none;
  color: black;
}

.main_nav {
  width: 320px;
  min-height: 70px;
  margin: 0 auto;
}

.profile .profile_photo {
  display: none;

}

.main_nav__wrapper, .head_nav__wrapper {
  box-sizing: border-box;
  border: 1px solid blue;
}

@media #{$table-widths} {
  .main_nav, .head_nav {
    width: auto;
    min-height: 70px;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid red;
  }

  .main_nav_item {
    float: left;
  }

  .main_nav__items {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid black;
  }

  .subnav {
    position: absolute;
  }

  .main_nav__wrapper, .head_nav__wrapper {
    @include container;
    @include clearfix;
    min-height: 70px;
  }

  .profile {
    float: right;
    min-height: 70px;
    position: absolute;
    top: 0;
    right: 20%;
  }

  .logo {
    float: left;
  }

  .profile_photo {
    display: block;
  }

}
