main {
  margin-bottom: 15vw;
  margin-top: 1%;
}


@media #{$table-widths} {
  main {
    margin-top: 150px;
    margin-bottom: 11%;
  }
}

@media #{$desktop-widths} {
  main {
    margin-top: 170px;
    margin-bottom: 5vw;
  }
}


