.main_nav__items, .subnav {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: bold;
}

.main_nav_item-link {
  text-decoration: none;
  color: #ffffff;

  display: block;
  padding: 12px 21px;

  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;

  border-bottom: 1px solid #ffffff;

  &:hover {
    background-color: $bg-lightblue;
    border-top-color: $bg-lightblue;
  }

  &:active {
    background-color: $bg-lightblue;
    border-top-color: $bg-lightblue;
  }
}

.subnav_item {
  color: #000000;
  background-color: $bg-darkgrey;

  display: block;
  padding: 0 21px;

  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: $bg-lightgrey;
    border-top-color: $bg-lightgrey;
  }

  &:active {
    color: #000000;
    background-color: $bg-lightgrey;
    border-top-color: $bg-lightgrey;
  }
}

.main_nav {
  @include container;
  position: relative;
  background-color: $bg-blue;
  z-index: 10;

  .profile_menu{
    background-color: $bg-orange;
    cursor: pointer;
  }
}

.main_nav__toggle {
  position: absolute;
  top: 0;
  right: 0;

  display: block;
  width: 70px;
  height: 50px;

  font-size: 0;
  background-color: $bg-lightgrey;
  cursor: pointer;

  border: none;

  &:hover {
    background-color: $bg-darkgrey;
  }

  &:active {
    background-color: $bg-darkgrey;
  }
}

.main-nav--closed .main_nav__toggle::before {
  content: '';
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff,
  0 16px 0 0 #ffffff;
}

.main-nav--closed .main_nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3),
  0 16px 0 0 rgba(255, 255, 255, 0.3);
}

.main-nav--opened .main_nav__toggle {
  top: 0;
  right: auto;
  left: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 18px;

    width: 36px;
    height: 2px;

    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.main_nav_item {
  box-sizing: border-box;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #ffffff;

  &:nth-child(1){
    border-left: 2px solid #ffffff;
  }

  &:nth-child(3){
    border-right: 2px solid #ffffff;
  }
}

@media  #{$mobile-widths-only}{
  .main-nav--closed .main_nav_item {
    display: none;

    &-active {
      display: block;
    }
  }

  .main-nav--closed .profile_menu {
    display: none;
  }

  .main-nav--opened .main_nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;
    height: 80vh;
    background-color: $bg-blue;
  }
}

@media #{$table-widths} {
  .main_nav {
    width: 100%;
    margin: 0;
    position: fixed;
    .main_nav_item {
      &:nth-child(2) {
        &:hover {
          .subnav {
            display: block;
          }
        }
      }
    }
  }

  nav {
    width: 100%;
    position: fixed;
    //height: 20%;
    top: 0;
  }

  .main_nav__toggle {
    display: none;
  }

  .main_nav .profile_menu {
    display: none;
  }

  .main_nav_item {
    float: left;
    width: 33.33%;
    text-align: center;
    .main_nav_item-link {
      padding: 12px 0;
    }
  }

  .subnav {
    position: absolute;
    display: none;
    width: 17.8%;
    .subnav_item {
      width: 100%;
    }
  }

  .main_nav__wrapper {
    @include container;
    @include clearfix;
    //height: 10%;
  }
}
.main-nav--closed {
  .main_nav_item-active {
    .subnav {
      display: none;
    }
  }
}

nav{
  z-index: 1;
}