@mixin clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin container {
  width: 60%;
  margin: 0 auto;
  min-width: 300px;
}

@mixin namePage {
  background-color: #c6e3e6;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3em;
}

