@mixin clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin container {
  width: 100%;
  margin: 0 auto;
  min-width: 300px;

  @media #{$table-widths} {
    width: 60%;
  }
}

@mixin namePage {
  background-color: #c6e3e6;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3em;
}

@mixin button {
  cursor: pointer;
  font-weight: bold;
  box-shadow: inset 0 1px 0 0 #ffffff;
  background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  background-color: #f9f9f9;
  box-sizing: border-box;
  border: 1px solid #e9e9e9;
  text-shadow: 0 1px 0 #ffffff;

  &:hover {
    background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    background-color: #e9e9e9;
  }
}

@mixin buttonQuery {
  cursor: pointer;
  font-weight: bold;
  box-shadow: inset 0 1px 0 0 #ffffff;
  background: linear-gradient(to bottom, rgba(216, 248, 251, 0.69) 5%, #c6e3e6 100%);
  background-color: #c6e3e6;
  box-sizing: border-box;
  border: 1px solid #c6e3e6;
  text-shadow: 0 1px 0 #ffffff;

  &:hover {
    background: linear-gradient(to bottom, #c6e3e6 5%, rgba(216, 248, 251, 0.69) 100%);
    background-color: #c6e3e6;
  }
}

@mixin buttonSave {
  @include button;
  background: linear-gradient(to bottom, #e3f9e2 5%, #a4e9a3 100%);
  background-color: #e3f9e2;
  border: 1px solid #a4e9a3;


  &:hover {
    background: linear-gradient(to bottom, #a4e9a3 5%, #e3f9e2 100%);
    background-color: #a4e9a3;
  }
}

@mixin buttonEcs {

  background: linear-gradient(to bottom, #fe540b 5%, #b40a09 100%);
  background-color: #770806;
  width: 2.2vw;
  height: 2.2vw;
  position: absolute;
  min-width: 33px;
  min-height: 33px;
  max-width: 53px;
  max-height: 53px;
  cursor: pointer;

  &:hover{
    background: linear-gradient(to bottom, #9d0908 5%, #fe540b 100%);
    background-color: #770806;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 47%;
    margin: 0 2px;
    text-align: center;
    min-width: 26px;
    max-width: 48px;
    width: 2vw;
    height: 3px;

    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  @media #{$table-widths} {
    .esc{
      top:1%;
      &::before,
      &::after {
        right: 0.3vw;
      }
    }
  }

  @media #{$desktop-widths} {
    .esc{
      &::before,
      &::after {
        right: 0.1vw;
      }
    }
  }
}



