@mixin clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin container {
  width: 100%;
  margin: 0 auto;
  min-width: 300px;

  @media #{$table-widths} {
    width: 60%;
  }
}

@mixin namePage {
  background-color: #c6e3e6;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3em;
}

@mixin button {
  cursor: pointer;
  font-weight: bold;
  box-shadow: inset 0 1px 0 0 #ffffff;
  background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  background-color: #f9f9f9;
  border: 1px solid #dcdcdc;
  text-shadow: 0 1px 0 #ffffff;

  &:hover {
    background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    background-color: #e9e9e9;
  }
}

@mixin buttonSave {
  @include button;
  background: linear-gradient(to bottom, #e3f9e2 5%, #a4e9a3 100%);
  background-color: #f9f9f9;
  border: 1px solid #dcdcdc;

  &:hover {
    background: linear-gradient(to bottom, #a4e9a3 5%, #e3f9e2 100%);
    background-color: #e9e9e9;
  }
}

