.primary_information{
  @include container;
  box-sizing: border-box;
  background-color: $bg-lightgrey;

  .primary_header{
    @include namePage;
  }

  .primary_items{
    width: 100%;
    padding: 2%;
  }

  .primary_name{
    vertical-align: top;
    line-height: 40px;
  }
}

