.shirt_card {
  box-sizing: border-box;
  min-height: 70px;
  text-align: center;
  @include container;
  background-color: $bg-information;

  .profile_photo {
    vertical-align: middle;
    margin: 3%;
    max-height: 300px;
  }
}

@media #{$table-widths} {
  .shirt_card {
    @include clearfix;
    margin-top: 130px;

    .profile_photo {
      float: left;
      width: 50%;
    }
    .shirt_inform {
      float: left;
      width: 44%;
      margin-top: 8%;
    }
  }
}

@media #{$desktop-widths} {
  .shirt_card {
    .profile_photo {
      width: auto;
    }
  }
}



