.shirt_card{
  box-sizing: border-box;
  min-height: 70px;
  margin: 0 auto;
  text-align: center;
  @include container;
  padding: 20px;
  background-color: $bg-information;



  .profile_photo{
    vertical-align: middle;
    margin: 2%;
    max-height: 300px;
  }
}



@media #{$table-widths} {
  .shirt_card{
    @include clearfix;
    .profile_photo{
      float: left;
      width: 50%;
    }
    .shirt_inform{
      float: left;
      width: 44%;

    }
  }
}
