.skills {
  @include container;
  box-sizing: border-box;
  background-color: $bg-information;

  .sphere {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding: 1%;
    box-sizing: border-box;
    border-bottom: 2px solid #ffffff;
    border-top: 2px solid #ffffff;
  }

  .skills_header {
    @include namePage;
  }

  .sphere_knowledges {
    padding-left: 7%;
    padding-bottom: 3%;

    .sphere_levels {
      display: inline;
    }
  }

  .sphere_knowledge {
    margin: 5px 5px;
  }

  .level {
    margin: 0 1%;
    padding: 3px 7px;
    cursor: pointer;

    color: #737673;
    display: none;

    &:hover {
      font-weight: 600;
      box-sizing: border-box;
      border: 3px solid #0d7ab0;
      color: #0d7ab0;
    }
  }

  .level_active {
    display: inline;
    color: #0d7ab0;
    box-sizing: border-box;
    border: 1px solid #0d7ab0;
  }

  .add_skills {
    width: 100%;
    padding: 2%;
    text-transform: uppercase;
    @include button;
  }

  .new_skills {
    position: absolute;
    background-color: $bg-information;
    //display: none;
    height: 70%;
    overflow: scroll;

    box-sizing: border-box;
    border: 1px solid #a4e9a3;
    @include container;

    @media #{$mobile-widths-only} {
      width: 70%;
    text-align: center;
    }

    .level {
      display: inline;
    }

    .sphere {
      cursor: pointer;
      //@include button;
    }

    .sphere_levels {
      display: block;
    }

    .save_skills {
      @include buttonSave;
      width: 100%;
      padding: 2%;
    }
  }

  @media #{$table-widths} {
    .sphere_levels {
      display: inline;
    }
  }
}



