.slider_wrapper{
  display: none;
}

.slider {
  float: left;
  width: 50%;
  max-width: 60%;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #00007b;
}

.slider_img {

  height: 100%;
  max-height: 100%;
  max-width: 150vw;
}

.slider_slide {
  position: relative;
  max-height: 100vh;
  overflow: hidden;
}

.slider .slick-dots {
  bottom: 5%;
}

@media #{$table-widths} {
  .slider_wrapper{
    display: block;
  }
}

@media #{$desktop-widths} {
  .slider{
    width: 60%;
  }
}

