.slider {
  float: left;
  width: 60%;
  max-width: 60%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #00007b;
}

.slider_img {

  height: 100%;
  max-height: 100%;
  max-width: 150vw;
}

.slider_slide {
  position: relative;
  overflow: hidden;
}

.slider .slick-dots {
  bottom: 5%;
}

.slick-dots li button:before{

}