.team {
  @include container;
  padding: 1%;
  overflow: hidden;

  .worker {
    background-color: $bg-information;
    overflow: hidden;
    box-sizing: border-box;
    border: 2px solid #c2c2c2;
    margin: 2%;
    padding-bottom: 2%;
    min-width: 320px;

    .employee {
      margin: 2% 30%;
      height: 55%;
      width: 40%;
      min-height: 55%;
    }

    .shirt_inform {
      text-align: center;
    }
  }

  @media #{$table-widths} {
    .worker {
      width: 96%;
      height: 20vw;
      min-height: auto;
      @include clearfix;

      .employee {
        float: left;
        margin: 2% 7%;
        height: 96%;
        max-width: 30%;
        min-width: 30%;
      }

      .shirt_inform {
        float: left;
        margin: 5vw 5%;
        max-width: 50%;
      }
    }
  }
}

@media #{$desktop-widths} {
  .team {
    @include clearfix;

    .worker {
      width: 47%;
      height: 15vw;
      //min-height: 15vw;

      .shirt_inform {
        margin: 10% 0;
      }

      .employee{
        height: 85%;
        width: 100%;
        min-width: 40%;
        margin: 5% 5%;
      }
    }

    .worker:nth-child(odd) {
      float: left;
      margin-right: 0;
    }

    .worker:nth-child(even) {
      float: right;
      margin-left: 0;
    }
  }
}




