$bg-darkgrey: #7c7c7c;
$bg-lightgrey: #e3e3e3;
$bg-blue: #89bdd3;
$bg-lightblue: #8bdede;
$bg-orange: #ff4e06;
$mobile-widths-only: "(max-width: 767px)";
$table-widths: "(min-width: 768px)";
$desktop-widths: "(min-width: 1200px)";

